/src/data/
/output/
/data/
/sketches/
.idea/
/maths/
/src/reports/data/
/src/main (monolith).py
/src/models/data/
/commands/run_centralized_baselines/logs/job1_cifar_seed_1.log
/commands/run_centralized_baselines/logs/job2_medmnist_retinamnist_seed_1.log
/commands/run_centralized_baselines/logs/job3_medmnist_bloodmnist_seed_1.log
/commands/run_centralized_baselines/logs/job4_fed_camelyon16_seed_1.log
/commands/run_centralized_baselines/logs/job5_fed_isic2019_seed_1.log
/commands/run_centralized_baselines/logs/job6_cifar_seed_2.log
/commands/run_centralized_baselines/logs/job7_medmnist_retinamnist_seed_2.log
/commands/run_centralized_baselines/logs/job8_medmnist_bloodmnist_seed_2.log
/commands/run_centralized_baselines/logs/job9_fed_camelyon16_seed_2.log
/commands/run_centralized_baselines/logs/job10_fed_isic2019_seed_2.log
/commands/run_centralized_baselines/logs/job11_cifar_seed_3.log
/commands/run_centralized_baselines/logs/job12_medmnist_retinamnist_seed_3.log
/commands/run_centralized_baselines/logs/job13_medmnist_bloodmnist_seed_3.log
/commands/run_centralized_baselines/.central_queue.last
/commands/run_centralized_baselines/central_joblog.txt
/commands/run_centralized_baselines/central_queue.txt
/commands/parallel_logs/job_1.log
/commands/parallel_logs/job_2.log
/commands/parallel_logs/job_3.log
/commands/parallel_logs/job_4.log
/commands/parallel_logs/job_5.log
/commands/parallel_logs/job_6.log
/commands/parallel_logs/job_7.log
/commands/parallel_logs/job_8.log
/commands/parallel_logs/job_9.log
/commands/parallel_logs/job_10.log
/commands/parallel_logs/job_11.log
/commands/parallel_logs/job_12.log
/commands/parallel_logs/job_13.log
/commands/parallel_logs/job_14.log
/commands/parallel_logs/job_15.log
/commands/parallel_logs/job_16.log
/commands/parallel_logs/job_17.log
/commands/parallel_logs/job_18.log
/commands/parallel_logs/job_19.log
/commands/parallel_logs/job_20.log
/commands/parallel_logs/job_21.log
/commands/parallel_logs/job_22.log
/commands/parallel_logs/job_23.log
/commands/parallel_logs/job_24.log
/commands/parallel_logs/job_25.log
/commands/parallel_logs/job_26.log
/commands/parallel_logs/job_27.log
/commands/parallel_logs/job_28.log
/commands/parallel_logs/job_29.log
/commands/parallel_logs/job_30.log
/commands/parallel_logs/job_31.log
/commands/parallel_logs/job_32.log
/commands/parallel_logs/job_33.log
/commands/parallel_logs/job_34.log
/commands/parallel_logs/job_35.log
/commands/parallel_logs/job_36.log
/commands/parallel_logs/job_37.log
/commands/parallel_logs/job_38.log
/commands/parallel_logs/job_39.log
/commands/parallel_logs/job_40.log
/commands/parallel_logs/job_41.log
/commands/parallel_logs/job_42.log
/commands/parallel_logs/job_43.log
/commands/parallel_logs/job_44.log
/commands/parallel_logs/job_45.log
/commands/parallel_logs/job_46.log
/commands/parallel_logs/job_47.log
/commands/parallel_logs/job_48.log
/commands/parallel_logs/job_49.log
/commands/parallel_logs/job_50.log
/commands/parallel_logs/job_51.log
/commands/parallel_logs/job_52.log
/commands/parallel_logs/job_53.log
/commands/parallel_logs/job_54.log
/commands/parallel_logs/job_55.log
/commands/parallel_logs/job_56.log
/commands/parallel_logs/job_57.log
/commands/parallel_logs/job_58.log
/commands/parallel_logs/job_59.log
/commands/parallel_logs/job_60.log
/commands/parallel_logs/job_61.log
/commands/parallel_logs/job_62.log
/commands/parallel_logs/job_63.log
/commands/parallel_logs/job_64.log
/commands/parallel_logs/job_65.log
/commands/parallel_logs/job_66.log
/commands/parallel_logs/job_67.log
/commands/parallel_logs/job_68.log
/commands/parallel_logs/job_69.log
/commands/parallel_logs/job_70.log
/commands/parallel_logs/job_71.log
/commands/parallel_logs/job_72.log
/commands/parallel_logs/job_73.log
/commands/parallel_logs/job_74.log
/commands/parallel_logs/job_75.log
/commands/parallel_logs/job_76.log
/commands/parallel_logs/job_77.log
/commands/parallel_logs/joblog.txt
